name: Builds

# TODO: generalize steps

env:
  DSS_CAPI_TAG: '0.13.1'
  ARTIFACTS_FOLDER: '${{ github.workspace }}/artifacts'

on: 
  # release:
  #   types: [created]
  push:

jobs:
  build_linux_x64:
    name: 'Linux x64'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container-image: [
          'quay.io/pypa/manylinux_2_28_x86_64',
          'quay.io/pypa/manylinux2014_x86_64'
        ]
    container:
      image: ${{ matrix.container-image }}
    env:
      CONDA_SUBDIR: 'linux-64'
      DSS_CAPI_PATH: '${{ github.workspace }}/dss_capi'
      CONDA: "/opt/miniconda/"
    steps: 
      - name: 'Checkout'
        run: |
          git clone $GITHUB_SERVER_URL/$GITHUB_REPOSITORY dss_python
          cd dss_python
          git checkout $GITHUB_SHA
      - name: 'Download/extract DSS C-API binaries'
        run: |
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/dss_capi_${DSS_CAPI_TAG}_linux_x64.tar.gz -o dss_capi.tar.gz
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/messages.tar.gz -o messages.tar.gz
          tar zxf dss_capi.tar.gz
          cd dss_python/dss
          tar zxf ../../messages.tar.gz
      - name: Build wheel
        run: |
          mkdir -p artifacts
          mkdir -p artifacts_raw
          bash dss_python/ci/build_linux.sh x64
      # - name: Build conda packages
      #   continue-on-error: true
      #   run: |
      #     bash dss_python/ci/build_conda.sh
      - name: Try installing the wheel
        run: bash dss_python/ci/test_wheel.sh
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

  build_linux_x86:
    name: 'Linux x86'
    runs-on: ubuntu-latest
    env:
      CONDA_SUBDIR: 'linux-32'
      DOCKER_IMAGE: 'pmeira/manylinux_wheel_fpc322_i686'
    steps: 
      - name: 'Checkout'
        run: |
          git clone $GITHUB_SERVER_URL/$GITHUB_REPOSITORY dss_python
          cd dss_python
          git checkout $GITHUB_SHA
      - name: 'Setup Docker'
        run: |
          docker pull $DOCKER_IMAGE
      - name: 'Download/extract DSS C-API binaries'
        run: |
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/dss_capi_${DSS_CAPI_TAG}_linux_x86.tar.gz -o dss_capi.tar.gz
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/messages.tar.gz -o messages.tar.gz
          tar zxf dss_capi.tar.gz
          cd dss_python/dss
          tar zxf ../../messages.tar.gz
      - name: Build wheel
        run: |
          mkdir -p artifacts
          mkdir -p artifacts_raw
          docker run -e GITHUB_SHA -e GITHUB_REF -e DSS_CAPI_PATH=/build/dss_capi -v "${PWD}:/build" -w /build $DOCKER_IMAGE bash /build/dss_python/ci/build_linux.sh x86
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

  build_macos_x64:
    name: 'macOS x64'
    runs-on: 'macos-10.15'
    env:
      DSS_CAPI_PATH: '${{ github.workspace }}/dss_capi'
      SDKROOT: '${{ github.workspace }}/MacOSX10.13.sdk'
      PYTHON: python3
    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0
          path: 'dss_python'
      - name: 'Download/extract DSS C-API binaries'
        run: |
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/dss_capi_${DSS_CAPI_TAG}_darwin_x64.tar.gz -o dss_capi.tar.gz
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/messages.tar.gz -o messages.tar.gz
          tar zxf dss_capi.tar.gz
          cd dss_python/dss
          tar zxf ../../messages.tar.gz
      - name: 'Download macOS SDK 10.13'
        run: |
          curl -s -L https://github.com/phracker/MacOSX-SDKs/releases/download/11.3/MacOSX10.13.sdk.tar.xz -o macOSsdk.tar.xz
          tar xf macOSsdk.tar.xz
      - name: Build wheel
        run: |
          bash dss_python/ci/build_wheel.sh
      # - name: Build conda packages
      #   continue-on-error: true
      #   run: |
      #     sudo chown -R $UID $CONDA
      #     bash dss_python/ci/build_conda.sh
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

  build_macos_arm64:
    name: 'macOS ARM64'
    runs-on: 'macos-11'
    env:
      DSS_CAPI_PATH: '${{ github.workspace }}/dss_capi'
      # SDKROOT: '${{ github.workspace }}/MacOSX10.13.sdk'
      PYTHON: python3
      _PYTHON_HOST_PLATFORM: macosx-11.0-arm64
      ARCHFLAGS: '-arch arm64'

    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0
          path: 'dss_python'
      - name: 'Download/extract DSS C-API binaries'
        run: |
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/dss_capi_${DSS_CAPI_TAG}_darwin_arm64.tar.gz -o dss_capi.tar.gz
          curl -s -L https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_TAG}/messages.tar.gz -o messages.tar.gz
          tar zxf dss_capi.tar.gz
          cd dss_python/dss
          tar zxf ../../messages.tar.gz
      # - name: 'Download macOS SDK 10.13'
      #   run: |
      #     curl -s -L https://github.com/phracker/MacOSX-SDKs/releases/download/11.3/MacOSX10.13.sdk.tar.xz -o macOSsdk.tar.xz
      #     tar xf macOSsdk.tar.xz
      - name: Build wheel
        run: |
          bash dss_python/ci/build_wheel.sh
      # - name: Build conda packages
      #   continue-on-error: true
      #   run: |
      #     sudo chown -R $UID $CONDA
      #     bash dss_python/ci/build_conda.sh
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

  build_win_x64:
    name: 'Windows x64'
    runs-on: windows-2019
    env:
      CONDA_SUBDIR: 'win-64'
      DSS_CAPI_PATH: '${{ github.workspace }}\dss_capi'
      PYTHON: python
    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0
          path: 'dss_python'
      - name: 'Download/extract DSS C-API binaries'
        shell: cmd
        run: |
          "c:\Program Files\Git\mingw64\bin\curl" -s -L https://github.com/dss-extensions/dss_capi/releases/download/%DSS_CAPI_TAG%/dss_capi_%DSS_CAPI_TAG%_win_x64.zip -o dss_capi.zip
          "c:\Program Files\Git\mingw64\bin\curl" -s -L https://github.com/dss-extensions/dss_capi/releases/download/%DSS_CAPI_TAG%/messages.zip -o messages.zip
          7z x -y -o. dss_capi.zip
          cd dss_python\dss
          tar zxf ..\..\messages.zip
      - name: Build wheel
        shell: bash
        run: |
          bash dss_python/ci/build_wheel.sh
      # - name: Build conda packages
      #   continue-on-error: true
      #   shell: bash
      #   run: |
      #     bash dss_python/ci/build_conda.sh
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

  build_win_x86:
    name: 'Windows x86'
    runs-on: windows-2019
    env:
      CONDA_SUBDIR: 'win-32'
      DSS_CAPI_PATH: '${{ github.workspace }}\dss_capi'
      PYTHON: python
    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0
          path: 'dss_python'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x86'
      - name: 'Download/extract DSS C-API binaries'
        shell: cmd
        run: |
          "c:\Program Files\Git\mingw64\bin\curl" -s -L https://github.com/dss-extensions/dss_capi/releases/download/%DSS_CAPI_TAG%/dss_capi_%DSS_CAPI_TAG%_win_x86.zip -o dss_capi.zip
          "c:\Program Files\Git\mingw64\bin\curl" -s -L https://github.com/dss-extensions/dss_capi/releases/download/%DSS_CAPI_TAG%/messages.zip -o messages.zip
          7z x -y -o. dss_capi.zip
          cd dss_python\dss
          tar zxf ..\..\messages.zip
      - name: Build wheel
        shell: bash
        run: |
          bash dss_python/ci/build_wheel.sh
      - name: 'Upload artifacts'
        uses: "actions/upload-artifact@v2"
        with:
          name: 'packages'
          path: '${{ github.workspace }}/artifacts'

